body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: #282828;
}

/* typography */

h1 {
    font-size: 40px;
    margin: 30px 25px;
    font-weight: 400;
}

.caption {
    margin: 0px 25px;
}

/* header */

nav {
    background-color: #282828;
    color: whitesmoke;
}

nav ul {
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 0;
    list-style: none;
}

nav ul li {
    margin: 0px 5px;
    cursor: pointer;
}

.logo {
    font-size: 18px;
    font-weight: 700;
}

.icon {
    width: 25px;
}

/* main */

.item-img {
    width: 100%
}

/*
Challenge:
1. Get this layout looking like the 
   screenshots on the slide.
*/  